body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
  background-size: 300% 300%;
  animation: gradientBG 15s ease infinite;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  font-size: 0.8rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
}

.love {
  color: red;
}

/* Tambahkan ini di bagian bawah file globals.css */
.bubble {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-out; /* Tambahkan transition untuk animasi yang lebih halus */
}